 on boot
 #Added Manual For Trustonic
    mkdir /mnt/vendor/persist 0771 system system
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw
    mount ext4 /dev/block/by-name/persist /persist rw
    mkdir /persist/OFRPFox
